* {
  margin: 0;
  padding: 0;
}

html {
    font-size: 10px;
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,231,20,0.6979166666666667) 0%, rgba(138,255,0,0.9051995798319328) 100%);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.btn-container {
  margin-top: 10rem;
  display: flex;
  gap: 8.2rem;
}

.btn {
  height: 6.4rem;
  width: 14.8rem;
  font-size: 2.4rem;
  border-radius: 100rem;
  cursor: pointer;
}

.window-container {
  margin-top: 10rem;
  width: 50rem;
  height: 25rem;
  position: relative;
  padding: 2.4rem;
  background-color: white;
  border-radius: 1.4rem;
  z-index: 2;
}

.hidden {
  display: none;
}

.window-container h1 {
  font-size: 2.0rem;
}

.window-container p {
  font-size: 1.8rem;
}

.close-btn {
  width: 2.4rem;
  position: absolute;
  top: 2.0rem;
  right: 2.0rem;
  cursor: pointer;
}

.overlay {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}
