body {
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'Lobster', cursive;
    padding: 0 30px;
}

.top {
    margin-top: 30px;
}

.top-left {
    margin-top: 19px;
    float: left;
    width: 45%;
}

.again {
    width: 175px;
    height: 75px;
    border-radius: 5%;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

.top-right {
    margin-top: 19px;
    float: right;
    width: 45%;
    text-align: right; 
}

h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 60px;
}

.show-number {
    text-align: center;
    height: 150px;
    width: 150px;
    font-size: 120px;
    margin: 0 auto;
    background-color: white;
    color: black;
}

main {
    margin-top: 100px;
}

.left {
    float: left;
    margin-left: 20%;
}

.left input {
    width: 245px;
    height: 80px;
    font-size: 40px;
}

.left button {
    width: 185px;
    height: 80px;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 5%;
    font-size: 35px;
    font-family: 'Lobster', cursive;
}

.right {
    float: right;
    font-size: 35px;
    margin-right: 20%;
}

.message {
    margin-top: 0;
}