body {
    box-sizing: border-box;
    width: 500px;
    margin: 0 auto;
    background-color: black;
    color: white;
}

.top {
    margin-top: 30px;
}

.top-left {
    margin-top: 19px;
    float: left;
    width: 45%;
}

.top-right {
    margin-top: 19px;
    float: right;
    width: 45%;
}

h1 {
    display:inline-block;
    text-align: center;
    padding-left: 15%;
}

.show-number {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}